# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# Logs
logs/

# Outputs
outputs/*
!outputs/class_distribution.png
!outputs/sample_images.png
!outputs/pixel_distribution.png
!outputs/model_comparison.txt
!outputs/*_confusion_matrix.png
!outputs/*_classification_report.txt
!outputs/misclassified_samples_*.png
/outputs/temp_uploaded.jpg
/outputs/tensorboard/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db